<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}" />
  </head>
  <body>
    <h1>Hi I am Html</h1>
    <p>{{ message }}</p>

    {% with messages = get_flashed_messages() %} { % if messages % }
    <ul>
      { % for msg in messages % }
      <li>{{msg}}</li>
      { % endfor % }
    </ul>

    { % endif % } {% endwith %}

    <form action="/greet" method="POST">
      <label for="name">Enter Your Name: </label>
      <input type="text" id="name" name="name" required />
      <label for="surname">Enter Your Surname: </label>
      <input type="text" id="surname" name="surname" required />
      <button type="submit" value="submit">Submit</button>
    </form>
  </body>
</html>
